h1{
    color:orangered;
    font-weight: 700;
}
 h2, h2{
    color:#ff4500;
    font-weight: 700;           

 }


.banner-tagliato { 
  /* Imposta l'altezza massima a metà rispetto a prima (es. 200px o 250px) */
  height: 220px; 
  
  /* FA LA MAGIA: Taglia l'immagine in eccesso senza deformarla */
  object-fit: cover; 
  
  /* Scegli quale parte mantenere: 'center' mantiene il centro, 'top' la parte alta */
  object-position: center; 
}

/* Ottimizzazione Mobile-First: sullo schermo piccolo del telefono lo tagliamo ancora un po' */
@media (max-width: 768px) {
  .banner-tagliato {
    height: 120px; 
  }
}

.bg-blue {
    background-color: #0a1931 !important;
}
.texte-orange {
    color: #ff4500 !important;
}
